<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
<rewrite>
<rules>
<!-- Wappler routing -->
<rule name="wappler rewrite index #9kkafalul" stopProcessing="true">
  <match url="^/?index(?:/)?$" ignoreCase="true" />
  <conditions logicalGrouping="MatchAll">
      <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
  </conditions>
  <action type="Rewrite" url="index.html" appendQueryString="true" />
</rule>
<!-- End Wappler routing -->
</rules>
</rewrite>
</system.webServer>
</configuration>
